*{
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,.5);
    
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    
    background-image: url(./Fotolia_245585448_XL.jpg);

}
.mainBox {
    margin-top: 15vh;
    width: 450px;
    height: 500px;
    background-color: aqua;
}